body{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.change-enter{
  text-align: right;
}

.icon{
  height: 200px;
}

.yak-tub{
  font-family: 'Vollkorn', serif;
  font-weight: bold;
  font-size: 4em;
}

.page-change {
  color: grey;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.enter{
  width: 250px;
  margin: 10px;
}

.tagline{
  font-family: 'Merriweather', serif;
  color: grey;
  margin-bottom: 40px;
}

.button{
  height: 50px;
  width: 150px;
  padding-top: 8px;
  color: white;
  border-radius: 5000px;
  background: #2ecc71;
  font-size: 0.8em;
  letter-spacing: 1.5px;
}

.button:hover{
  color: #dddddd;
}

.button.end{
  background: #bd3b3b;
}

.button.done{
  background: #7596ac;
}

.button:active{
  color: #000000;
}

.interview{
  margin-top: -30px;
}

.right-line{
  border-width: 0px;
  border-right: 2px;
  margin-right: -2px;
  border-color: #dddddd;
  border-style: solid;
  height: 100vh;
}

.dashboard{
  background: #f3f3f3;
  margin-left:2px;
  height: 100vh;
  overflow: scroll;
  padding: 30px;
}

.editable:hover{
  cursor: pointer;
}

.applicant-card{
  background: white;
  width: 80%;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 1px;
  padding: 20px;
  margin-bottom: 20px;
}

.followed-up{
  background: #97D6A6;
}

.description-box{
  width: 60%;
}

.description-paragraph {
  color:grey;
  text-align: left;
}

.details{
  margin-top:200px;
}

.strong{
  font-weight: bold;
}

.floater-top-right{
  /*width:50%;*/
  position: fixed;
  top: 10px;
  right: 10px;
}

.floater-top-left{
  /*width:50%;*/
  position: fixed;
  top: 10px;
  left: 10px;
}

.floater-middle-page{
  text-align: center;
  position: fixed;
  width: 600px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -300px;
  padding-top: 100px;
}


.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
