<div class="popover" tabindex="-1">
  <div class="arrow"></div>
  <h3 class="popover-title">Star filter</h3>
  <div class="popover-content">
    <form name="popoverForm">
      <p style="min-width:175px;"></p>
        <strong>Stars</strong>
        <div class='row'>
          <div class='col-xs-6'><a href="" ng-click='changeStar(0)'>0 stars</a></div>
          <div class='col-xs-6'><span ng-show='filter.stars[0]' class='glyphicon glyphicon-ok' style='font-size:10px; margin-left:20px;'></span><br/></div>
        </div>
        <div class='row'>
          <div class='col-xs-6'><a href="" ng-click='changeStar(1)'>1 star</a></div>
          <div class='col-xs-6'><span ng-show='filter.stars[1]' class='glyphicon glyphicon-ok' style='font-size:10px; margin-left:20px;'></span><br/></div>
        </div>
        <div class='row'>
          <div class='col-xs-6'><a href="" ng-click='changeStar(2)'>2 stars</a></div>
          <div class='col-xs-6'><span ng-show='filter.stars[2]' class='glyphicon glyphicon-ok' style='font-size:10px; margin-left:20px;'></span><br/></div>
        </div>
        <div class='row'>
          <div class='col-xs-6'><a href="" ng-click='changeStar(3)'>3 stars</a></div>
          <div class='col-xs-6'><span ng-show='filter.stars[3]' class='glyphicon glyphicon-ok' style='font-size:10px; margin-left:20px;'></span></div>
        </div>
       </div>
      </pre>
    </form>
  </div>
</div>