doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    // CSS (load bootstrap)
    base(href='/')

    meta(name='description', content='Yak Tub automated interview software')
    meta(name='author', content='Tom Murray')
    link(rel='icon', href='favicon.ico')
    link(href="pusher-realtime-chat-widget/src/pusher-chat.css" rel="stylesheet")
    title Yak Tub

    // Keen.js script
    script(type="text/javascript")
      !function(a,b){a("Keen","https://d26b395fwzu5fz.cloudfront.net/3.4.0-rc/keen.min.js",b)}(function(a,b,c){var d,e,f;c["_"+a]={},c[a]=function(b){c["_"+a].clients=c["_"+a].clients||{},c["_"+a].clients[b.projectId]=this,this._config=b},c[a].ready=function(b){c["_"+a].ready=c["_"+a].ready||[],c["_"+a].ready.push(b)},d=["addEvent","setGlobalProperties","trackExternalLink","on"];for(var g=0;g<d.length;g++){var h=d[g],i=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};c[a].prototype[h]=i(h)}e=document.createElement("script"),e.async=!0,e.src=b,f=document.getElementsByTagName("script")[0],f.parentNode.insertBefore(e,f)},this);

    // Bootstrap core CSS
    link(href='libs/bootstrap/dist/css/bootstrap.css', rel='stylesheet')

    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css')
    link(href='libs/font-awesome/css/font-awesome.min.css')

    // Custom styles for this template
    link(href='css/style.css', rel='stylesheet')
    link(href='css/animations.css', rel='stylesheet')

  body(ng-app='app')
    //- // NAVIGATION
    //- // MAIN CONTENT
    <div id='MainView' ui-view></div>
  script(src="https://js.pusher.com/3.0/pusher.min.js")
  script(src='libs/jquery/dist/jquery.min.js')
  script(src='libs/angular/angular.min.js')
  script(src='//static.twilio.com/libs/twiliojs/1.2/twilio.min.js')
  script(src='libs/angular-ui-router/release/angular-ui-router.min.js')
  script(src='libs/angular-clipboard/angular-clipboard.js')
  script(src='libs/angular-animate/angular-animate.min.js')
  script(src="libs/angular-strap/dist/angular-strap.min.js")
  script(src="libs/angular-strap/dist/angular-strap.tpl.min.js")
  script(src='js/app.directives.js')
  script(src='js/app.services.js')
  script(src='js/app.controllers.js')
  script(src='js/app.js')
