.row
	.col-md-12
		a(ui-sref='home.dashboard') Back to profile
.row
	.col-md-offset-4.col-md-4
		center
		h1 Applicants
	.col-md-4
		label(for='show_followed') Show followed up:
		input(type='checkbox' id='show_followed' ng-model='show_filtered')
.row
	.col-md-offset-4.col-md-8
		|Filter by name:
		input(type='text' ng-model='filter.search_text')
.row
	.col-md-offset-6.col-md-6
		a.page-change(href='' ng-click='changePage(filter.page-1)')
			span Prev
		div.dropdown
			button#dateDropdown.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true',style="float:left;")
				strong
					span.ng-cloak Page {{filter.page+1}}
				//- span.caretspan.glyphicon.glyphicon-triangle-bottom
			ul.dropdown-menu(aria-labelledby='dateDropdown')
				li(ng-repeat='i in getNumber(num_of_pages)')
					a(href='', ng-click='changePage(i)') Page {{i+1}}
		a.page-change(href='' ng-click='changePage(filter.page+1)')
			span Next

.row(ng-repeat='applicant in applicants | applicantsFilter : show_filtered | filter : {name: filter.search_text} | limitTo:page_entries:page_entries*filter.page')
	.col-md-12
		center
			.applicant-card(class='{{isFollowed(applicant)}}')
				.row
					.col-md-6
						h3 {{$index+1+filter.page*page_entries}}: {{applicant.name}}
					.col-md-6
						label(for='followed') Followed up:
						input(type='checkbox' id='followed' ng-model='applicant.followed_up' ng-change='followedUp(applicant)')
				.row
					.col-md-6
						p {{applicant.email}}
					.col-md-6
						p {{applicant.phone}}
				hr
				h4 Questions
				.row(ng-repeat='answer in applicant.answers' style='text-align:left;')
					.col-md-8
						p {{$index+1}}: {{answer.question}}
					.col-md-4
						audio-player(source='answer.recording_url')
						//- audio(controls)
						//- 	source(ng-src="{{getTrustedUrl(answer.recording_url)}}" type="audio/mpeg")
						//- 	|Your browser does not support the audio element.
				hr
				h4 Notes
				.row(style='text-align:left;')
					.col-md-offset-1.col-md-10
						p(ng-show='!applicant.editing_notes') {{applicant.notes}}
						span.glyphicon.glyphicon-pencil(ng-click='editNotes(applicant)' ng-show='!applicant.editing_notes')
						textarea.form-control(rows='3' ng-model='applicant.notes' ng-show='applicant.editing_notes')
						button.btn.btn-success(ng-click='saveNotes(applicant)' ng-show='applicant.editing_notes') Save
					.col-md-1