.row
	.col-md-offset-2.col-md-8
		center.details
			h4.tagline - Enter your details below -
			form(ng-submit ='saveDetails()')
				input.form-control.enter(placeholder='Name...' type='text' ng-model='user.name')
				input.form-control.enter(placeholder='Email...' type='email' ng-model='user.email')
				input.form-control.enter(placeholder='Phone...' type='text' ng-model='user.phone')
				button.btn.button(type='submit') SUBMIT