.row
	.col-md-6.right-line
		center.interview
			img.icon(src='assets/images/noun.svg')
			h1.yak-tub Yak Tub
			h4.tagline - Bathe in applicants -
			div.description-box
				p.description-paragraph Yak Tub is an automated 'phone screen' interview tool.
					br
					| It looks like we have an error...

	<div class='col-md-6 dashboard' ui-view></div>