.row
	.col-md-6.right-line
		center
			img.icon(src='assets/images/noun.svg')
			h1.yak-tub Yak Tub
			h4.tagline - Bathe in applicants -
			button.btn(type='button' style='margin-right:20px' ui-sref='home.settings') Settings
			button.btn(ng-click='logout()') Logout
	<div class='col-md-6 dashboard' id='nestedView' ui-view></div>