.row
	.col-md-6.right-line
		center.interview
			img.icon(src='assets/images/noun.svg')
			h1.yak-tub Yak Tub
			h4.tagline - Bathe in applicants -
			div.description-box
				p.description-paragraph Yak Tub is an automated 'phone screen' interview tool.
					br
					| You'll need a laptop with a microphone to proceed.
					br
					br
					| Here's what you need to do as an applicant.
					br
					br
					span.strong
						| 1. Click "Start interview" 
					| - a timer will start, you'll need to be finished at this time.
					br
					span.strong
						| 2. Read questions 
					| - Have a look at the questions, and have a quick think.
					br
					span.strong
						| 3. Click "ANSWER" 
					| - you should usually spend 1 - 3 minutes on each question.
					br
					br
					| When you record all your answers (or when the timer runs out) we'll 
					span.strong
						| automatically submit your recordings 
					| for review. Sit tight for a response email.


	<div class='col-md-6 dashboard' ui-view></div>