.row
	.col-md-8
		a(ui-sref='home.dashboard') Back to profile
.row
	.col-md-offset-2.col-md-8
		h2.editable(ng-click='editName()' ng-show='!editing_name') {{job.name}}
		//- span.glyphicon.glyphicon-pencil(ng-click='editName()' ng-show='!editing_name')
		textarea.form-control(rows='3' ng-model='job.name' ng-show='editing_name')
		button.btn.btn-success(ng-click='saveName()' ng-show='editing_name') Save
		button.btn.btn-warning(ng-click='editName()' ng-show='editing_name') Cancel
hr
.row
	.col-md-offset-2.col-md-8
		h4 Description
		p(style='color:grey') Give your interviewee's an idea of what the interview is for and what it entails.
.row
	.col-md-offset-2.col-md-8
		p.editable(ng-click='editDescription()' ng-show='!editing_description') {{job.description}}
		span.glyphicon.glyphicon-pencil(ng-click='editDescription()' ng-show='!editing_description && (!job.description)')
		textarea.form-control(rows='3' ng-model='job.description' ng-show='editing_description')
		button.btn.btn-success(ng-click='saveDescription()' ng-show='editing_description') Save
		button.btn.btn-warning(ng-click='editDescription()' ng-show='editing_description') Cancel
hr
.row
	.col-md-offset-2.col-md-8
		h4 Timer length
		p(style='color:grey') The interview will be this many minutes
.row
	.col-md-offset-2.col-md-2
		p.editable(ng-show='!editing_timer' ng-click='editTimer()') {{job.timer}}
		input.form-control(type='number' ng-model='job.timer' ng-show='editing_timer')
		button.btn.btn-success(ng-click='saveTimer()' ng-show='editing_timer') Save
hr
.row
	.col-md-offset-2.col-md-8
		h4 Questions
		p(style='color:grey') The questions you want asked in the interviews
.row(ng-repeat='question in job.questions')
	.col-md-offset-2.col-md-7
		p.editable(ng-click='editQuestion(question)' ng-show='!question.editing') {{$index+1}}: {{question.text}}
		input.form-control(type='text' ng-model='question.text' ng-show='question.editing')
		button.btn.btn-success(ng-click='saveQuestionEdit(question)' ng-show='question.editing') Save
	.col-md-2
		a(href='' ng-click='deleteQuestion($index)' ng-show='!question.editing') Delete
.row
	.col-md-offset-2.col-md-8
		button.btn.btn-primary(ng-click='addQuestion()' ng-show='!adding_question') Add question
		textarea.form-control(rows='2' type='text' ng-show='adding_question' ng-model='new_question')
		button.btn.btn-success(ng-click='saveQuestion()' ng-show='adding_question') Save
hr
.row
	.col-md-offset-2.col-md-8
		h4 Email notifications
		p(style='color:grey') Do you want to be notified when an applicant does your interview?
.row
	.col-md-offset-2.col-md-7
		input(type='radio' ng-model='job.send_email_s' value='true' ng-change='changeSendEmail()')
		strong Yes
		input(type='radio' ng-model='job.send_email_s' value='false' ng-change='changeSendEmail()')
		strong No
br
.row
	.col-md-offset-2.col-md-7
		label(for='email') Email:
		p.editable(name='email' ng-click='editEmail()' ng-show='!editing_email') {{job.email}}
		span.glyphicon.glyphicon-pencil(ng-click='editEmail()' ng-show='!editing_email && (!job.email)')
		input.form-control(type='text' ng-model='job.email' ng-show='editing_email')
		button.btn.btn-success(ng-click='saveEmail()' ng-show='editing_email') Save
hr
.row
	.col-md-offset-2.col-md-8
		h4 Shareable url
		p(style='color:grey') Share this url with people you want to take your interview
		h5 {{shareableUrl}}
		button.btn.btn-default(clipboard text="shareableUrl" on-copied="success()" on-error="fail(err)") Copy
