.row
	.col-md-offset-2.col-md-8
		h1 {{job.name}}

.row
	.col-md-offset-2.col-md-8
		p(style='color:grey;') {{job.description}}
		p(style='color:grey;') You will have {{job.timer}} minutes to complete the interview
		p(style='color:grey;') Once you start the interview, you must complete it. You cannot refresh the page to restart.

.row(ng-show='!interview_started')
	.col-md-offset-2.col-md-4
		button.btn.button(ng-hide='interview_started' ng-click='startInterview()') START INTERVIEW
.row(ng-show='interview_started')
	.col-md-offset-2.col-md-4
		h4 Timer
		p(style='color:grey;'){{timeDisplay()}}

hr
div(ng-repeat='question in job.questions' ng-show='interview_started')
	.row
		.col-md-offset-2.col-md-8
			h4 Question {{$index + 1}}
			p {{question.text}}
			button.btn.button.done(ng-show='question.answered') ANSWERED
			p(ng-show='question.loading') Uploading answer, please don't leave this page
			ng-audio-recorder#audioInput(ng-hide='question.answered || !currentQuestion($index)' audio-model='recordedInput' convert-mp3='convertMP3' on-record-start='answerQuestion(question,$index)' on-conversion-complete='conversionDone(recorder,$index)' on-record-complete='endQuestion(question)')
				div(ng-if='recorder.isAvailable' ng-init='answered=false')
					button.btn.button(ng-hide='recorder.status.isRecording && !answered' ng-click='recorder.startRecord(); console.log("Hello")') ANSWER
					button.btn.button.end(ng-click='recorder.stopRecord()', type='button', ng-hide='recorder.status.isRecording === false') END
				div(ng-if='!recorder.isAvailable')
					p Your browser does not support audio recording, please use latest version of
						a(href="https://www.google.com/chrome/browser" target="_blank") Google Chrome 
						| or
						a(href="https://www.mozilla.org/en-US/firefox/new/" target="_blank") Mozilla Firefox
						| . If you're on Safari or Internet Explorer, you can install 
						a(href="https://get.adobe.com/flashplayer/") Adobe Flash 
						| to use this feature. Sorry about the inconvenience.
	hr
